HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sensitive Configuration ###
.env

### Logs ###
logs/
*.log


### Python ###
outfit-recommend-server/venv/
outfit-recommend-server/__pycache__/
outfit-recommend-server/*.pyc

### Image Storage ###
*.png
*.jpeg
*.jpg
*.gif
*.webp
